<div class="product">
    <mat-grid-list cols="4" rowHeight="500px">
        <mat-grid-tile>

            <mat-card>

                <img mat-card-image src="/assets/1.webp">
                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>{{product.Name}}</mat-card-title>
                    <mat-card-subtitle>{{product.Type}}
                        <br> <strong>Price: {{product.Price | currency :'INR'}}</strong>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-flat-button color="primary">Add-to-cart</button>

                    <button mat-flat-button color="warn">Buy Now</button>
                </mat-card-actions>

            </mat-card>

        </mat-grid-tile>

        <mat-grid-tile>
            <div class="product">
                <mat-card>

                    <img mat-card-image src="/assets/2.webp">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Levis</mat-card-title>
                        <mat-card-subtitle>Men Navy Blue Slim Fit Printed Casual Shirt
                            <br> <strong>Price: {{1374 | currency :'INR'}}</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">Add-to-cart</button>

                        <button mat-flat-button color="warn">Buy Now</button>
                    </mat-card-actions>


                </mat-card>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="product">
                <mat-card>

                    <img mat-card-image src="/assets/3.jpg">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Levis</mat-card-title>
                        <mat-card-subtitle>Men Slim Fit Mid-Rise Clean Look Stretchable Jeans
                            <br> <strong>Price: {{3599 | currency :'INR'}}</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">Add-to-cart</button>

                        <button mat-flat-button color="warn">Buy Now</button>
                    </mat-card-actions>


                </mat-card>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="product">
                <mat-card>

                    <img mat-card-image src="/assets/4.webp">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Levis</mat-card-title>
                        <mat-card-subtitle>Men Blue Fit Mid-Rise Clean Look Stretchable Jeans
                            <br> <strong>Price: {{2339 | currency :'INR'}}</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">Add-to-cart</button>

                        <button mat-flat-button color="warn">Buy Now</button>
                    </mat-card-actions>


                </mat-card>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="500px">
        <mat-grid-tile>

            <mat-card>

                <img mat-card-image src="/assets/5.webp">
                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>Levis</mat-card-title>
                    <mat-card-subtitle>Men Black & Olive Green Camouflage T-shirt
                        <br> <strong>Price: {{1019 | currency :'INR'}}</strong>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-flat-button color="primary">Add-to-cart</button>

                    <button mat-flat-button color="warn">Buy Now</button>
                </mat-card-actions>

            </mat-card>

        </mat-grid-tile>

        <mat-grid-tile>
            <div class="product">
                <mat-card>

                    <img mat-card-image src="/assets/6.webp">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Levis</mat-card-title>
                        <mat-card-subtitle>Men Navy Blue Slim Fit Printed Casual Shirt
                            <br> <strong>Price: {{1374 | currency :'INR'}}</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">Add-to-cart</button>

                        <button mat-flat-button color="warn">Buy Now</button>
                    </mat-card-actions>


                </mat-card>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="product">
                <mat-card>

                    <img mat-card-image src="/assets/7.webp">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Levis</mat-card-title>
                        <mat-card-subtitle>Men Grey Melange Solid Bomber Jacket
                            <br> <strong>Price: {{2999 | currency :'INR'}}</strong>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-flat-button color="primary">Add-to-cart</button>

                        <button mat-flat-button color="warn">Buy Now</button>
                    </mat-card-actions>


                </mat-card>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="product">
                <mat-card>

                    <img mat-card-image src="/assets/8.webp">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>Levis</mat-card-title>
                        <mat-card-subtitle>Men Self Design Lazer Leather Two Fold Wallet
                            <br> <strong>Price: {{1199 | currency :'INR'}}</strong>
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-actions>
                        <button mat-flat-button color="primary">Add-to-cart</button>

                        <button mat-flat-button color="warn">Buy Now</button>
                    </mat-card-actions>


                </mat-card>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>
<br><br>